    //COLORS
$btncolor:#F8F8F8;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icons{

    .bolimlar{
        margin: 12px;
    }

    img{
        width: 20px;
    }
}
// ====================================== Nav ==================================
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px  ;

    .searchSec{
        margin-right: 115px;
        form{
            position: relative;
            .searchInput{
                width: 560px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #808080;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .searchBtn{
                position: absolute;
                top: 10%;
                right: 3%;
                border: none;
                background-color: transparent;
            }
        }
    }
}
// ========================================= Catigorues ========================
.catigories{
    border-top: 1.3px solid #DFDFDF;
    padding: 20px 75px 10px;
    display: flex;
    justify-content: space-between;
    .dropdown-toggle{
        .button{
            display: flex;
            align-items: center;
            background-color: $btncolor;
        }
        &::after{
            margin-left: 35px;
        }
    }
    .btn-secondary{
        background-color:$btncolor;
        color: #000;
        border: none;
     
    }
    .gamburger{
        margin-right: 10px;
    }
    .links{
        display: flex;
        .link_item{
            margin:0 25px;
            list-style-type: none;
           
            .link{
                text-decoration: none;
                color: #403F3F;
                padding-bottom: 5px;
                &:hover{
                    color: #FF5D18;
                }
            }
            .active{
                color: #FF5D18  ;
            }
        }
    }
}
// ========================================== Home =============================
.home{
    background-image: url("../homebg.jpg");
    .main{
        display: flex;
        justify-content: space-between;
        .side1{
            margin:150px 75px;
            color: #fff;
            h3{
                font-size: 50px;
                font-family: 'Sarabun', sans-serif;
            }
            p{
              font-family: 'Sarabun', sans-serif;
            }
            .buttons{
                a{
                    background-color: #FF5D18;
                    padding: 15px 20px;
                    text-decoration: none;
                    border-radius: 5px;
                    color: #fff;
                    
                    &:nth-child(2){
                        background-color: #5a5a5a54;
                        margin-left: 10px;
                        &:hover{
                            color: #FF5D18;
                        }
                    }
                    svg{
                        margin-left: 10px;
                    }
                }
            }
        }
        .side2{
            img{
                width:100%;
            }
        }
        
    }
}

